.container {
    max-width: 50%;
    display: flex;
    position: relative;
    border-radius: 15px;
    background-color: #606a74;
    padding: 2.5% 0 5% 0;
    justify-content: center;
    column-count: 1;
    column-width: auto;
  }
   
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 5%;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
   
  input:hover,
  .btn:hover {
    opacity: 1;
  }
   
   
  /* style the submit button */
  .button[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: auto;
    position: relative;
  }
   
  .button[type="submit"]:hover {
    background-color: #45a049;
    color:black;
    cursor: pointer;
    width: auto;
    transform: scale(1);
    position: relative;
  }
  
  
  .col {
    float: right;
    width: 100%;
    margin: auto;
    padding: 0 5%;
    margin-top: 6px;
  }
   
  .form-outline{
    text-align: center;
  }